.header {
    background-color: rgb(93, 176, 44);
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    width: 100vw;
}

.header ul {
    display: flex;
    justify-content: space-around;
    
}


